<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tutorabc.test.mapper.LessonQuestionTempMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.tutorabc.test.entity.LessonQuestionTemp">
		<id column="sn" property="sn" />
		<result column="valid" property="valid" />
		<result column="evaluation_type" property="evaluationType" />
		<result column="question_str" property="questionStr" />
		<result column="test_sn" property="testSn" />
		<result column="total_score" property="totalScore" />
		<result column="inp_date" property="inpDate" />
		<result column="client_sn" property="clientSn" />
		<result column="client_level" property="clientLevel" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        valid, evaluation_type AS evaluationType, sn, question_str AS questionStr, test_sn AS testSn, total_score AS totalScore, inp_date AS inpDate, client_sn AS clientSn, client_level AS clientLevel
    </sql>
</mapper>
